@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap");
:root {
    --primary-color: #414059;
    --primary-color-light: #5288F2;
    --bg-gray-color: #f0f8ff;
    --black-color: #232323;
    --text-color: #F2CF66;
    --white-color: #fff;
    --light-gray: #eee;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Montserrat", sans-serif;
}

body {
    background: #bbc7df;
}

.wrapper {
    display: flex;
    width: 100%;
}
   
/* =============================== sidebar  ===================================== */

.wrapper .sidebar {
    position: relative;
    z-index: 10000;
}

.wrapper .sidebar .bg_shadow {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    z-index: 998;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.wrapper .sidebar__inner {
    width: 15rem;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--white-color);
    z-index: 999;
    transition: all 0.3s ease;
    padding: 1rem 0;
 
}

.wrapper .main_container {
    margin-left: 15rem;
    width: calc(100% - 15rem);
    transition: all 0.3s ease;
}

.wrapper .sidebar__inner .logo {
    padding: 2rem 3rem;
    text-align: center;
    width: 90%;
    
}

.wrapper .sidebar__inner .logo{
    width: 70%;
    margin: 0 auto 1rem;
    
}

.wrapper .sidebar__inner .logo img {
    width: 100%;
    display: block;
    border-radius: 50%;
}

.wrapper .sidebar__inner .siderbar_menu li a {
    padding: 0.8rem 3rem;
    display: block;
    height: 5.3rem;
    position: relative;
    margin-bottom: 1px;
    color: var(--primary-color);
    text-align: center;
    text-transform: uppercase;
}


.wrapper .sidebar__inner .siderbar_menu li a .icon {
    font-size: 2rem;
    margin-bottom: 5px;
}

.wrapper .sidebar__inner .siderbar_menu li a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: var(--primary-color);
    display: none;
}

.wrapper .sidebar__inner .siderbar_menu li a:hover,
.wrapper .sidebar__inner .siderbar_menu li a.active {
    background: #F2CF66;
    color: #000;
}

.wrapper .sidebar__inner .siderbar_menu li a:hover:before,
.wrapper .sidebar__inner .siderbar_menu li a.active:before {
    display: block;
}


/* =============================== Topbar  ===================================== */
.wrapper .main_container .top_navbar {
    width: calc(100% - 15rem);
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    position: fixed;
    top: 0;
    left: 15rem;
    z-index: 9999;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.125);
    transition: all 0.3s ease;
    border-left: 0.1px solid var(--gray-color);
}
.wrapper .main_container .top_navbar .wallet-cta{
    border: none;
    padding: 0.6rem 1.5rem;
    color: var(--white-color);
    border-radius: 4px;
    background-color: #414059;
    cursor: pointer;
}

.wrapper .main_container .top_navbar .hamburger {
    width: 2rem;
    height: 2rem;
    position: relative;
    display: none;  
}

.wrapper .main_container .top_navbar .hamburger .fas {
    color: var(--primary-color);
    font-size: 1.6rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* =============================== Main Container ===================================== */
.wrapper .main_container .container {
    padding: 2rem 2.5rem;
    margin-top: 60px;
    background: url('../images/empyrean-1639028875553-3442.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.wrapper .main_container .container .content-heading{
    color: var(--white-color);
    margin: 1.5rem 0;
    font-size: 1.5rem;
}
.wrapper .main_container .container .row{
    display: flex;
    background:rgba(0, 0, 0, 0.7); 
    border-radius: 1rem;
}
.wrapper .main_container .container .row .container-left{
    padding: 1rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
   
}
.wrapper .main_container .container .row .container-left h1{
    font-size: 1.5rem;
    color: var(--white-color);
    color: #F2CF66;
    margin-bottom: 1rem;
}
.wrapper .main_container .container .row .container-left p {
    font-size: 0.8rem;
    color: var(--white-color);
    font-weight: 700;
}

.wrapper .main_container .container .row .container-right{
          width: 80%;
          display: flex;
          justify-content: center;
          align-items: center;
}

.wrapper .main_container .container .row .container-right img {
    width: 40%;
}
.wrapper .main_container .container .row-content{
    display: flex;
  
}
.wrapper .main_container .container .row-content .row-card {
    width: 35%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 4px solid #F2CF66;
    border-radius: 1rem;
    margin: 0 1rem;
}
.wrapper .main_container .container .row-content .row-card .card-img {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 2rem 0;
    background: rgba(0, 0, 0, 0.7);
     
}
.wrapper .main_container .container .row-content .row-card .card-img img{
    width: 30%;
    border-radius: 50%;
    text-align: center;
}
.wrapper .main_container .container .row-content .row-card .card-content{
    width: 100%;
     background-color: var(--white-color);

}
.wrapper .main_container .container .row-content .row-card .card-content .content-data{
    display: flex;
    justify-content: space-between;
    padding: 0rem 1rem;
}
.wrapper .main_container .container .row-content .row-card .card-content .content-data h2 {
    font-size: 1rem;
    font-weight: 600;
    margin: 1rem 0;
}
.wrapper .main_container .container .row-content .row-card .card-content .content-data h4 {
    font-size: 0.8rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: var(--primary-color);
}
.wrapper .main_container .container .row-content .row-card .card-content .content-data h4 span {
    color: var(--black-color);
}
.wrapper .main_container .container .row-content .row-card .card-content .wallet-btn{
    width: 90%;
    background: var(--primary-color);
    color: var(--white-color);
    padding: 0.6rem 1rem;
    margin: 1rem 6%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.wrapper .main_container .container .row-content .row-score {
    width: 65%;
    background:rgba(0, 0, 0, 0.7);
    border: 4px solid #F2CF66;
    border-radius: 1rem;
    height: 60%;
    padding: 1rem 3rem;

}
.wrapper .main_container .container .row-content .row-score h1{
    color: #F2CF66;
    display: block;
    margin: 1rem 0;
    text-align: center;
}
.wrapper .main_container .container .row-content .row-score .score-cards{
    display: flex;
    padding: 0rem 0rem;
}
.wrapper .main_container .container .row-content .row-score .score-cards .score-card {
    text-align: center; 
    padding: 1rem 0;
    margin: 0 0.5rem;
}

.wrapper .main_container .container .row-content .row-score .score-cards .score-card h1{
    font-size: 1.5rem;
     margin: 1rem 0;
     text-align: center;
}
.wrapper .main_container .container .row-content .row-score .score-cards .score-card .score{
    padding: 0.4rem 1rem;
    width: 60%;
    text-align: center;
    background-color: #F2CF66;
    border-radius: 4px;
    margin: 1rem auto;
}
.wrapper .main_container .container .row-content .row-score .score-cards .score-card .score h2 {
    font-size: 1.5rem;
    color: var(--primary-color);
}
.wrapper .main_container .container .row-content .row-score .score-cards .score-card img{
    width: 50%;
    /* margin-top: -2rem; */
    transform: scale(1.4);
    text-align: center;
}

.wrapper .sidebar__inner .close {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 25px;
    color: #000;
    display: none;
    cursor: pointer;
    margin-top: 1rem;
}

.wrapper .sidebar__inner .close:hover {
    opacity: 0.5;
}

@media screen and (max-width: 800px) {
    .wrapper .sidebar__inner {
        left: -100%;
    }

    .wrapper .main_container,
    .wrapper .main_container .top_navbar {
        margin-left: 0;
        width: 100%;
    }

    .wrapper .main_container .top_navbar {
        left: 0;
    }

    .wrapper.active .sidebar__inner {
        left: 0;
    }

    .wrapper .sidebar__inner .close,
    .wrapper .main_container .top_navbar .hamburger {
        display: block;
    }

    .wrapper.active .sidebar .bg_shadow {
        visibility: visible;
        opacity: 0.7;
    }
}

@media screen and (max-width: 530px) {
    .wrapper .main_container .top_navbar .menu {
        display: none;
    }
    .wrapper .main_container .top_navbar .wallet-cta {
        display: none;
    }

    .wrapper .main_container .container {
        padding: 4rem 1.5rem;
        margin-top: 3rem;
        /* background: url('../images/art-1639238525884-4846.jpg'); */
    }
    .wrapper .main_container .container .row {
        height: 45vh;
        padding: 1rem 0rem;
        flex-direction: column;
    }

    .wrapper .main_container .container .row .container-left {
        width: 100%;
        padding: 0.5rem 1.5rem;
        background: none;
        text-align: center;
    }

    .wrapper .main_container .container .row .container-left h1 {
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }

    .wrapper .main_container .container .row .container-left p {
        font-size: 0.6rem;
        font-weight: 700;
    }

    .wrapper .main_container .container .row .container-right {
        width: 100%;
    }

    .wrapper .main_container .container .row .container-right img {
        width: 30%;
        margin-top: 1.2rem;
    }
    .wrapper .main_container .container .content-heading {
        color: var(--white-color);
        margin: 1.2rem 0;
        font-size: 1.2rem;
    }

    .wrapper .main_container .container .row-content {
        flex-direction: column;
    }
    .wrapper .main_container .container .row-content .row-card {
        width: 100%;
        margin: 1.5rem 0;
    }

    .wrapper .main_container .container .row-content .row-card .card-content .content-data h2 {
        font-size: 0.8rem;
    }

    .wrapper .main_container .container .row-content .row-card .card-content .content-data h4 {
        font-size: 0.6rem;
      }

    .wrapper .main_container .container .row-content .row-score {
        width: 100%;
        margin-top: 1rem;
    }

    .wrapper .main_container .container .row-content .row-score .score-cards {
        flex-direction: column;
    }

    .wrapper .main_container .container .row-content .row-score .score-cards .score-card {
        padding: 1rem 0rem;
    }
    .wrapper .main_container .container .row-content .row-score .score-cards .score-card .score {
        width: 40%;
    }

    .wrapper .main_container .container .row-content .row-score .score-cards .score-card .score h2 {
        font-size: 1.2rem;
    }
}